/*1080p*/
html,body{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline; overflow:hidden;height:1080px; width:1920px;
}
body { font-family:'Segoe UI', 'Hiragino Sans GB', 'Microsoft Yahei','微软雅黑',  Arial, sans-serif;}
.container
{
    position:relative;
	width:100%;
    height:100%;
    background: url(../img/Login/Login_bg.jpg) no-repeat;
filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
-moz-background-size:100% 100%;  
    background-size:100% 100%; 
    overflow:hidden; 
}
#title,#kjz,#light_show,#login_bg_top,#login_bg_bottom,#ico_un,#ico_psd,#text_jieshao{
    position:absolute;
filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
-moz-background-size:100% 100%;  
    background-size:100% 100%; 
}
#title {
    width:940px;
    height:126px;
    top:0px;left:490px;
    background-image: url(../img/title_3.png); 
}
#kjz {
    width:520px; height:531px;left:70px;background-image:url(../img/login/Login_kjz_1.png);
    animation:piaofu 7s ease infinite alternate;
/* Firefox: */
-moz-animation:piaofu 7s ease infinite;
/* Safari and Chrome: */
-webkit-animation:piaofu 7s ease infinite;
/* Opera: */
-o-animation:piaofu 7s ease infinite;
}
@keyframes piaofu
{
0%   { top:260px;}
50%  {  top:300px;}
100% { top:260px;}
}

@-moz-keyframes piaofu /* Firefox */
{
0%   { top:260px;}
50%  {  top:300px;}
100% { top:260px;}
}

@-webkit-keyframes piaofu /* Safari and Chrome */
{
0%   { top:260px;}
50%  {  top:300px;}
100% { top:260px;}
}

@-o-keyframes piaofu /* Opera */
{
0%   { top:260px;}
50%  {  top:300px;}
100% { top:260px;}
}

#light_show {
    width:718px;height:237px;
    left:-718px;top:438px;
    background-image:url(../img/Login/Login_ls.png);
}
#login_frame{
    position:absolute;width:0px;height:728px;top:119px;left:330px;overflow:hidden;
	-moz-transform:scaleX(0.67);       
    -webkit-transform:scaleX(0.67);   
    transform:scaleX(0.67);
}
#map_frame_by{
position: absolute;
top:0px;left:0px;width:1260px; height:833px;overflow:hidden;border:0px solid #fff;
}
#map_frame
{
position: absolute;
top:0px;left:196px;
height: 833px;
width: 833px;
padding:14px;
border: 0px solid black;
-webkit-perspective:833px; /* Safari and Chrome */
         -moz-perspective: 833px;
           -o-perspective: 833px;
              perspective: 833px;
  -webkit-transition: top 1s,left 1s;
  -moz-transition-property:top, left;
  -moz-transition-duration: 1s, 1s, 1s, 1s;
  -o-transition-property: top, left;
  -o-transition-duration: 1s, 1s, 1s, 1s;
  transition-property: top, left;
  transition-duration: 1s, 1s, 1s, 1s;
}

#map
{
width:833px;height:833px;
position: absolute;
border: 0px solid black;
-webkit-transform: rotateX(70deg); /* Safari and Chrome */
         -moz-transform: rotateX(70deg);
           -o-transform: rotateX(70deg);
              transform: rotateX(70deg);

-webkit-transition: -webkit-transform 1s,-moz-transform 1s,-o-transform 1s,transform 1s;
  -moz-transition-property: -webkit-transform, -moz-transform, -o-transform, transform;
  -moz-transition-duration: 1s, 1s, 1s, 1s;
  -o-transition-property: -webkit-transform, -moz-transform, -o-transform, transform;
  -o-transition-duration: 1s, 1s, 1s, 1s;
  transition-property: -webkit-transform, -moz-transform, -o-transform, transform;
  transition-duration: 1s, 1s, 1s, 1s;

}
#login_content{
    position:absolute;width:833px;height:575px;left:0px;top:129px;
}
#login_bg_top{
    width:833px;height:192px;left:0px;top:185px;background-image:url(../img/Login/Login_frame_bg_top.png);
}
#login_bg_bottom{
    width:833px;height:192px;left:0px;bottom:185px;background-image:url(../img/Login/Login_frame_bg_bottom.png);
}
#login_text{
    position:absolute;width:692px;height:78px;left:70px;top:245px;border:1px solid #0280ed;overflow:hidden;
    -moz-box-shadow:0px 0px 42px #001650 inset;              
    -webkit-box-shadow:0px 0px 42px #001650 inset;           
    box-shadow:0px 0px 42px #001650 inset; 
}
#login_text_bg{position:absolute;top:0px;left:0px;width:692px;height:454px;
    background-color:#0b1a30;
              filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5; 
}
#login_text_content {position:absolute;top:0px;left:0px;width:692px;height:454px;
}
#input_title{
    position:absolute;
    left:132px;top:0px;
    width:437px;height:137px;
    color:#31a9fc;
    font-size:36px;
    line-height:168px;
    text-align:left;text-indent:0.5em;
    display:none;
}
.input_username{
    position:absolute;
    left:132px;top:137px;
    width:437px;height:59px;
}
.input_password{
    position:absolute;
    left:132px;top:223px;
    width:437px;height:59px;
}
.style_input{
    text-indent:2em;
	border: 1px solid #0292f6;
    border-radius: 4px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 4px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 4px; /* Webkit浏览器的私有属性 */
             font-size: 25px;
             height: 59px;
             line-height: 59px;
             padding: 0;            
             width: 437px;
			 color:#6bc0ff;
			 text-align:left;
             -moz-box-shadow:0px 0px 14px #0291f6 inset;              
    -webkit-box-shadow:0px 0px 14px #0291f6 inset;           
    box-shadow:0px 0px 14px #0291f6 inset; 
    background:none;
}
input:focus {
        border: 1px solid #00c5ff;
		-webkit-box-shadow: 0px 0px 14px #00c5ff inset;
		-moz-box-shadow: 0px 0px 14px #00c5ff inset;
		box-shadow: 0px 0px 14px #00c5ff ;
	}
#ico_un,#ico_psd{width:25px;height:31px;top:11px;right:29px;}
#ico_un { background:url(../img/Login/Login_ico_user.png) no-repeat center center;}
#ico_psd { background:url(../img/Login/Login_ico_password.png) no-repeat center center;}

#login_button{
    position:absolute;
    left:132px;top:312px;
    width:437px;height:59px;
    color:#000;
    text-align:center;
    background-color:#0493f8;
    font-size:31px;
    cursor:pointer;
             line-height: 56px;
     -webkit-box-shadow: 0px 0px 5px #6bbfff;
		-moz-box-shadow: 0px 0px 5px #6bbfff;
		box-shadow: 0px 0px 5px #6bbfff;
        border-radius: 5px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
-moz-border-radius: 5px; /* Mozilla浏览器的私有属性 */ 
-webkit-border-radius: 5px; /* Webkit浏览器的私有属性 */
}
    #login_button:hover {
        background-color:#00c2cf;
    }

#text_jieshao{
top:320px;right:-150px;height:auto;width:auto;color:#fff;font-size:48px;text-align:left;font-weight: bold;
line-height: 110px;
text-shadow: 0px 5px 10px #000;
-moz-transform:scaleX(0.67);       
    -webkit-transform:scaleX(0.67);   
    transform:scaleX(0.67);

}